@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome sdasdfasdf asdf</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <div id="root1"></div>
</div>
@section scripts{
    @*<script src="~/js/src/react.development.js" crossorigin="anonymous"></script>
    <script src="~/js/src/react-dom.development.js" crossorigin="anonymous"></script>
    <script src="~/js/src/babel.js"></script>*@
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>

    <script src="~/js/Index.js" >
    </script>
}